body {
  background-color: black;
}
h1 {
  color: white;
  font-family: Xenara;
}

button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-style: none;
  margin: 4px;
  font-size:29px;
  color:white;
}

#texta {
  margin-top: 15%;
  margin-left: 80%;
  font-size: 35px;
  position:relative;
  top:35px;
}
.typea {
  background-color: grey;
}
.typeb {
  background-color: orange;
}

.typec {
  background-color: darkgreen;
}

.typed {
  height: 80px;
  width: 139px;
  text-align: center;
  border-radius: 40px 40px 40px 40px;
  background-color: darkgreen;
  position: relative;
  top: 3px;
  display: inline-flex;
  align-items: center;
  padding-left:41px;
  font-size:29px;
  color:white;
}


.line{

    background-color:white;
    height:5px;
    width:147px;
    border-radius:5px;
    position:relative;
    left:106px;
    top:24px;
}