body {
  background-color: black;
}
h1 {
  color: white;
  font-family: Xenara;
  /* direction : rtl; */

}

button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-style: none;
  margin: 4px;
  font-size: 29px;
  color: white;
  cursor:pointer;
}

#texta {
  margin-top: 16.5%;
  margin-left: 80%;
  font-size: 35px;
  top: 35px;
  display:flex;
  justify-content: flex-end;
}
.typea {
  background-color: rgb(212, 212, 210);
  color:black;
}
.typeb {
  background-color: rgb(255, 149, 0);
}

.typec {
  background-color:  rgb(80, 80, 80);
}

.typed {
  height: 80px;
  width: 139px;
  text-align: center;
  border-radius: 40px 40px 40px 40px;
  background-color: rgb(80, 80, 80);
  position: relative;
  top: 3px;
  display: inline-flex;
  align-items: center;
  padding-left: 41px;
  font-size: 29px;
  color: white;
  cursor:pointer;
}

.line {
  background-color: white;
  height: 5px;
  width: 147px;
  border-radius: 5px;
  position: relative;
  left: 106px;
  top: 24px;
}
